{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class ="mt-3 p-3 bg-light d-flex" >
    <div class = 'p-2 container'>
      <h3>Utkal University</h3>
      <h5>Master of Computer Application</h5>
      <h6>Oct 2021 - Aug 2023 </h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolore, illum voluptas molestias quod adipisci fugit, suscipit quaerat error blanditiis odio, consequatur sunt optio nisi eius officia. Sed deleniti eum commodi quibusdam perspiciatis fugiat consequatur placeat facilis dolore accusantium voluptate autem quae, tenetur, ipsum animi voluptatem culpa suscipit nobis! Alias.</p>
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/utkal_university.jpg') }}" alt="" class ="img-fluid"srcset="" width = '500'>
    </div>
  </div>

  <div class ="mt-3 p-3 bg-light d-flex" >
    <div class = 'p-2 container'>
      <h3>Marshaghai Degree College</h3>
      <h5>Bachelor in Mathemeatics</h5>
      <h6>Jun 2017 - Nov 2020 </h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolore, illum voluptas molestias quod adipisci fugit, suscipit quaerat error blanditiis odio, consequatur sunt optio nisi eius officia. Sed deleniti eum commodi quibusdam perspiciatis fugiat consequatur placeat facilis dolore accusantium voluptate autem quae, tenetur, ipsum animi voluptatem culpa suscipit nobis! Alias.</p>
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/marshaghai_college.jpg') }}" alt="" class ="img-fluid"srcset="" width="500" height="100">
    </div>
  </div>

  <div class ="mt-3 p-3 bg-light d-flex" >
    <div class = 'p-2 container'>
      <h3>Govt. Jr. Science College</h3>
      <h5>Intermediate in Science</h5>
      <h6>Jun 2015 - Aug 2017 </h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolore, illum voluptas molestias quod adipisci fugit, suscipit quaerat error blanditiis odio, consequatur sunt optio nisi eius officia. Sed deleniti eum commodi quibusdam perspiciatis fugiat consequatur placeat facilis dolore accusantium voluptate autem quae, tenetur, ipsum animi voluptatem culpa suscipit nobis! Alias.</p>
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/ayeba-science-college.jpg') }}" alt="" class ="img-fluid"srcset="" width="500">
    </div>
  </div>

  <div class ="my-3 p-3 bg-light d-flex" >
    <div class = 'p-2 container'>
      <h3>Bishnu Prasad High School</h3>
      <h5>Matriculation</h5>
      <h6>Jun 2014 - Aug 2015 </h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolore, illum voluptas molestias quod adipisci fugit, suscipit quaerat error blanditiis odio, consequatur sunt optio nisi eius officia. Sed deleniti eum commodi quibusdam perspiciatis fugiat consequatur placeat facilis dolore accusantium voluptate autem quae, tenetur, ipsum animi voluptatem culpa suscipit nobis! Alias.</p>
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/utkal_university.jpg') }}" alt="" class ="img-fluid"srcset="" width = '500'>
    </div>
  </div>

{% endblock %}