{% extends 'base.html' %}

{% block content %}
<div class="section d-flex justify-content-between align-items-center p-3">
    
    <p class="mb- fw-bold ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consectetur neque vitae eos necessitatibus molestiae, nisi facilis veniam reiciendis eligendi numquam magnam. Cupiditate saepe id tempora officia quia, a dignissimos ratione facere nesciunt ad illo totam! Laborum, voluptatum? Reprehenderit alias modi eaque eveniet nostrum dolore harum minima recusandae beatae dolorem ab repudiandae, pariatur minus soluta et. Impedit architecto molestias deleniti tempore, reprehenderit eveniet voluptas nisi ipsa nemo, officia veritatis. Incidunt iure numquam aspernatur nostrum ducimus consequuntur eum iste corrupti porro fugit neque cupiditate, nam dignissimos perspiciatis sint iusto aliquam. Praesentium ratione odio neque corrupti quaerat.</p>
    
    <img src="{{ url_for('static', filename='images/my_image.jpg') }}" alt="My Image" class="img-fluid rounded-circle shadow-lg three-d-effect"  style="max-width: 300px;">
 
</div>
{% endblock %}